        body{
            /*background-color: rgb(224, 228, 204);*/
            /*color: rgb(250, 105, 0);*/
            font-family: 'Rancho', cursive;
            margin-bottom: 100px;
        }

        p{
            /*color: rgb(243, 134, 48);*/
            /*color: rgb(119, 79, 56);*/
            font-family: 'Gudea', sans-serif;
            text-indent: 3em;
            /*text-align: center;*/
            margin-right: 10%;
            margin-left: 10%;
        }

        span{
            font-weight: bold;
            color: rgb(250, 105, 0);
        }

        a{
            color: rgb(250, 105, 0);
            /*text-decoration: none;*/
        }

        a:hover{
            color: rgb(105, 210, 231);
            /*text-decoration: none;*/
        }


        #page-title{
            color: rgb(250, 105, 0);
            text-align:center;
            margin-bottom:50px;
            font-size: 3em;

        }