            body{
                /*background-color: rgb(167, 219, 216);*/
                /*background-color: rgb(224, 228, 204);*/
                margin-bottom: 100px;
            }

            .line{
            margin-top: 30px;
            margin-bottom: 30px;
            border-top: dotted 3px rgb(241, 212, 175);
            margin-left: 25%;
            margin-right: 25%;
            }


            p{
                /*font-family: 'Gudea', sans-serif;*/
                line-height: 1.5em;
                /*color: rgb(243, 134, 48);*/
                /*color: rgb(119, 79, 56);*/
                text-indent: 5em;
                margin-left: 10%;
                margin-right: 10%;
            }

            img{
                display: block;
                margin: auto;
                padding: 10px; 
            }

            ul{
                line-height: 1.5em;
            }

            strong{
                font-weight: bold;
                color: rgb(250, 105, 0);
            }

            /***************Font Control*******************/
            .title, .para-title, #intro-to-mimi, .date{
                font-family: 'Rancho', cursive;
                letter-spacing: 2px;

            }

            ul, p{
                font-family: 'Gudea', sans-serif;
            }
            /***************Font Control*******************/

            .chapter-div{
                border: 3px solid crimson;
                margin: 10px;
                padding: 10px;
            }

            .bottom-of-chapter{
                border-bottom: none;
            }


            .title{
                color: rgb(250, 105, 0);
                text-align: center;
            }

            .para-title{
                color: rgb(250, 105, 0);
                text-align: center;
                padding: 10px;
                font-size: 2em;
            }

            .tab{
                margin-left: 5em;
            }

            #top-of-page{
                font-size: 4em;
            }

            #intro-to-mimi{
                color: rgb(105, 210, 231);
                font-size: 1em;

                border-bottom: 2px dashed rgb(167, 219, 216);
                padding-top: 5px;
                padding-bottom: 50px;
            }

            #table-of-contents{
                background-color:cornsilk;
                width: 50%;
                margin:auto;
                border-bottom: none;
                padding: 5px;
                /*line-height: 1.5em;*/
            }
            
            .date{
                /*font-family: 'Cutive Mono', monospace;*/
                font-size: 1em;
                text-align: center;
                color: rgb(105, 210, 231);
            }
            
            #pic-follow{
                position: fixed;
                right: 1%;
                top: 1%;
                width: 3%;
            }