        body{
            color: rgb(11,16,140);
            font-family: 'Rancho', cursive;
        }

        p{
            color: rgb(16,127,201);
            /*color: rgb(167,219,216);*/
            font-family: 'Gudea', sans-serif;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        img{
            display:block;
            margin-left: auto;
            margin-right: auto;
        }

        a{
            /*font-family: 'Rancho', cursive;*/
            color: rgb(16,127,201);
            text-decoration: none;
        }

        a:hover{
            color: rgb(7,9,61);
        }